body {
  background: linear-gradient(yellow,red,green);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  animation: flash 1s infinite;
}

@keyframes flash {
  
}

a {
  color: #00B7FF;
}
